<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imagen</title>
</head>
<body>
    <h1>Imagen de la Máquina</h1>
    <p>Máquina: {{ maquina }}</p>
    <p>Fecha: {{ fecha }}</p>
    <img src="{{ ruta_imagen }}" alt="Imagen de la máquina">
    <p>Temperatura de la Máquina: {{ imagen_data['temperatura_maquina'] }}°</p>
    <p>Temperatura del Ambiente: {{ imagen_data['temperatura_ambiente'] }}°</p>
    <a href="/">Volver al inicio</a>
</body>
</html>

