<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos de las Máquinas</title>
</head>
<body>
    <h1>Máquinas y sus Imágenes</h1>
    <h2>Datos de las Máquinas</h2>
    <ul>
        {% for maquina, detalles in data.items() %}
        <li>
            <strong>{{ maquina }}:</strong>
            <ul>
                {% if 'Especificaciones' in detalles %}
                    <li>Especificaciones: {{ detalles['Especificaciones'] }}</li>
                {% endif %}
                {% if 'fechas' in detalles %}
                    {% for fecha, info in detalles['fechas'].items() %}
                    <li>
                        Fecha: {{ fecha }}, Temperatura Máquina: {{ info['temperatura_maquina'] }}°, Temperatura Ambiente: {{ info['temperatura_ambiente'] }}°
                        <form action="/ver_imagen" method="get" style="display:inline;">
                            <input type="hidden" name="maquina" value="{{ maquina }}">
                            <input type="hidden" name="fecha" value="{{ fecha }}">
                            <button type="submit">Ver Imagen</button>
                        </form>
                    </li>
                    {% endfor %}
                {% else %}
                    <li>No hay datos de fechas disponibles</li>
                {% endif %}
            </ul>
        </li>
        {% endfor %}
    </ul>
    <a href="/">Volver al Menú Principal</a>
</body>
</html>